body {
    background-image: linear-gradient(to right, #FFB08722, #ccccccaa, #FFB08722);
    margin: 0;
    padding: 0;
    color: #777777;
}

header {
    background-color: #ffffff;
    border-bottom: solid #cccccc;
}

.nav {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.head-container {
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

h1 {
    float: left;
    background-color: #4aaaa5;
    padding: 1em;
    color: #ffffff;
    margin: 0;
    font-size: 30px;
    font-weight: 100;
}

#nav-bar {
    float: right;
    background-color: #fcfcfc;
}

li {
    display: inline;
}

a {
    border: none;
    color: #666666;
    margin: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: 200;
}

#portfolio {
    padding-left: 10px;
    padding-right: 10px;
    border-left: solid 0.2px #FFB087;
    border-right: solid 0.2px #FFB087;
}

.clear-fix {
    clear: both;
}

img {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    clear: both;
}

.about-me {
    border-bottom: solid #FFA17044;
    margin: 0;
    margin-bottom: 2em;
    padding: 0;
}

.about-me h2 {
    font-weight: 200;
    font-size: 40px;
    color: #4aaaa5;
    margin: 0;
}

.main-info {
    background-color: #ffffff;
    margin: auto;
    margin-top: 2em;
    padding: 2em;
    text-align: justify;
    width: 960px;
    border: solid #dddddd;
    box-sizing: border-box;
}

p {
    font-size: 18px;
}

p a {
    color: rgba(5, 5, 5, 0.667);
    font-size: 17px;
    font-weight: 600;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: solid #4aaaa5;
    text-align: center;
    color: lightgray;
    padding: 1em 0 1em 0;
}